html {
  font-size: 15px;
}
body {
  font-family: "Monserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2b2a2c;
  line-height: 1.4;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
/* HEADER */
.header {
  padding-top: 18px;
  padding-bottom: 15px;
}
.header__inner {
  height: 57px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100%;
  max-width: 110px;
  padding-left: 70px;
  position: relative;
}
.logo__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  background-color: #2b2a2c;
}
.logo__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}
.logo__text {
  font-size: 12px;
  color: #6A696B;
}
.nav {
  max-width: 525px;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.menu__link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #2b2a2c;
  text-transform: uppercase;
  transition: border 0.3s;
  border-bottom: 3px solid transparent;
}
.menu__link:hover {
  border-color: #2b2a2c;
}
.menu__link.menu__btn {
  padding: 10px 32px;
  border-radius: 30px;
  border: 3px solid #2b2a2c;
  transition: background 0.3s, 
        color 0.3s;
}
.menu__link.menu__btn:hover {
  background-color: #2b2a2c;
  color: #ffffff;
}
/* INTRO */
.intro {
  padding-top: 15px;
}
.intro__inner {
  display: flex;
  background: url("../img/intro/bg.png") no-repeat;
  background-position: right;
  background-size: contain;
  padding-bottom: 125px;
  border-bottom: 1px solid #EFEFEF;
}
.intro__subtitle {
  padding-top: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 200;
  line-height: 1.60;
}
.intro__title {
  line-height: 1.16;
  font-weight: bold;
  font-size: 45px;
}
.intro__text {
  line-height: 1.22;
  font-size: 18px;
  color: #6A696B;
  margin-left: 2px;
}
.social {
  display: flex;
  margin-top: 26px;
}
.social__link {
  display: inline-block;
  margin-right: 10px;
  width: 41px;
  height: 41px;
  text-align: center;
  vertical-align: middle;
}
.social__link .fab {
  padding-top: 5px;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
  color: #ffffff;
  transition: opacity 0.3s;
}
.social__link .fab:hover,
.social__link .fab:active {
  opacity: 0.5;
}
.social__link.be {
  background-color: #1869ff;
}
.social__link.dr {
  background-color: #e51a68;
}
.social__link.in {
  background-color: #007bb6;
}
.social__link.fb {
  background-color: #3a5898;
}
.social__link.inst {
  background-color: #13578a;
}
.social__link.tw {
  background-color: #56acef;
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-family: "Monserrat", sans-serif;
  letter-spacing: 0.8;
  text-transform: uppercase;
  color: #6A696B;
  background-color: #ffffff;
  border: 2px solid #6A696B;
  cursor: pointer;
  border-radius: 30px;
  padding: 17px 0;
  margin: 42px 15px 0px 0px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.btn.btn--short {
  width: 160px;
}
.btn.btn--long {
  width: 200px;
}
.btn:hover,
.btn:active {
  background-color: #2b2a2c;
  border-color: #2b2a2c;
  color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}
/* WORK */
.works {
  padding-top: 40px;
}
.works__nav {
  display: flex;
  max-width: 255px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.works__nav-link {
  font-size: 15px;
  line-height: 1.37;
  color: #6A696B;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.portfolio {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.portfolio__item {
  max-width: 370px;
  width: 33.3333%;
  height: 370px;
  margin: 15px 15px;
  box-shadow: 0px 0px 4px #2b2a2c;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio__img {
  display: block;
  width: 100%;
}
.portfolio__content {
  text-transform: uppercase;
  position: relative;
  padding: 14px 19px 0px 13px;
}
.portfolio__category {
  color: #2b2a2c;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.portfolio__name {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 700;
  position: relative;
}
.portfolio__name .year {
  position: absolute;
  right: 0;
}
