// main: ../main.less

/* footer */

.footer {
    
    font-size: 14px;
    background: @black;
    color: #8D8D8E;
    padding: 15px 0;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social__link {
        width: 35px;
        height: 35px;
    }
}

.footer__left {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 500px;
}

.footer__social {
    margin: 0;
    margin-left: 30px;

    .social__link {
        background-color: inherit;
    }
}

.footer__right {
    min-width: 500px;
    width: 50%;

    .menu {
        max-width: 465px;
        margin-left: auto;
    }

    .menu__link {
        color: inherit;
        font-size: 14px;
        margin-right: 20px;

        &:hover {
            border-bottom: 2px solid @white;
            
        }
    }

    .menu__btn {
        margin-right: 0px;
        border-color: @gray;

        &:hover {
            border-color: @white;
        }
    }
}