// main: ../main.less 

.contact {
    display: flex;
    justify-content: space-between;
    

    &__left {
        width: 47.777777%;
        background: @white;
        padding: 28px 34px 0px 34px;
        box-sizing: border-box;
    }

    &__right {
        width: 52.222222%;
        display: flex;
        align-items: center;
    }

    &__img {
        display: block;
        width: 100%;

    }

    &__title {
        font-size: 45px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 35px;
    }

    &__link {
        font-size: 14px;
        color: @black;
        transition: color 0.3s;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 0px;
        margin-bottom: 10px;

        &:hover {
            color: @gray;
            fill: @gray;
        }
        
        .fas {
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0;
            vertical-align: middle;
        }

        .fa-envelope {
            font-size: 19px;
        }
    }

    &__icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
}

.form {
    margin-top: 40px;

    &__lable {
        display: block;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 7px;
    }

    &__input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 20px 28px;
        margin-bottom: 30px;
        color: @black;
        font-family: inherit;
        border: 1px solid rgba(112,112,112,0.3);
        border-radius: 27px;
        line-height: 1.4;

        &:focus {
            outline: none;
            border: 1px solid @black;
        }
    }

    &__textarea {
        height: 200px;
        resize: none;
    }
    
    &__btn {
        display: block;
        margin: 0;
        margin-left: auto;
        margin-right: 0;
    }
}