// main: ../main.less 

.contact {
    display: flex;
    justify-content: space-between;
    

    &__left {
        width: 47.777777%;
        background: @white;
        padding: 28px 34px 0px 34px;
    }

    &__right {
        width: 52.222222%;
    }

    &__title {
        font-size: 45px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 6px;
    }
}